@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "OSC";
    src: url("fonts/OpenSansCondensed-Light.ttf");
}
html{
    background: red;
}
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background: linear-gradient(to left bottom, rgb(230, 230, 230) 5%, rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 15px;
}
.header{
    min-width: max-content;
    display: flex;
    justify-content: space-between;
    padding: 25px 4%;
}
.store_brand{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}
.store_logo{
    height: 40px;
    width: 40px;
    margin: 5px;
    opacity: 0.9;
}
.brand_tittle{
    width: max-content;
    font-family: "OSC" , Helvetica, sans-serif;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 0.4px;
    margin: 0px 0px 0px 10px;
}
.header ul{
    display: grid;
    grid-template-columns: repeat(4,max-content);
    gap: 30px;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15.5px;
    letter-spacing: 0.4px;
}
.product_details{
    width: 30%;
    position:relative;
    margin-top: 10vh;
    padding-bottom: 50px;
    left: 4%;
}
.product_details .brand_logo{
    width: 80px;
}
.product_details h1{
    margin: -2px 0px 10px;
    font-size: 28px;
    letter-spacing: 0.8px;
}
.product_details .price{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.7px;
}
.product_details .description1, .product_details .description2{
    font-size: 15px;
    letter-spacing: 0.5px;
}

.product_details .explore_product{
    font-weight: bold;
}
.circles{
    width: 370px;
    height: 340px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    filter: blur(55px);
}
.circle1{
    background: linear-gradient(to left bottom, #1eadf080, #0afb5e81);
    top: 42vh;
    left: 40vw;
}
.circle2{
    background: linear-gradient(to right top, #00ffee81, #4500c66e);
    top: 20vh;
    left: 47vw;
}
.laps{
    position: absolute;
    pointer-events: none;
    height: 520px;
    display: none;
    z-index: 3;
    top: 20vh;
    left: 41vw;
}
.lap01{
    transform: rotate(10deg);
    
}
.lap02{
    display: block;
}
.lap03{
    transform: rotate(340deg);
    
}
.lap04{
    transform: rotate(345deg);
    
}
.lap05{
    transform: scaleX(-1) rotate(7deg);
    
}
.counter{
    position: fixed;
    bottom: 50px;
    right: 5%;
    font-size:21px;
    color: rgba(0, 0, 0, 0.7);
}
.counter span{
    font-weight: bold;
    font-size: 25px;
}
.personal_data{
    position: absolute;
    bottom: 50px;
    left: 3%;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.personal_data span{
    color: rgb(218, 0, 0);
    opacity: 0.8;
}

@media (max-width: 900px) {
    .circles{
        width: 310px;
        height: 310px;
        position: absolute;
        border-radius: 50%;
        z-index: 1;
        filter: blur(55px);
    }
    .laps{
        height: 400px;
    }
}
@media (max-width: 665px) {
    
}